body
{
	/* Background pattern from subtlepatterns.com */
	background-color: white;
	font-family: 'Raleway', sans-serif;
	color:#404040;
	margin:0;
}

#container
{
	background-image: url("img/tlo.png");
	margin-left: auto;
	margin-right: auto;
	min-width:1000px;
}
#top{
	width:100%;
	height:50px;
	margin:0px;
}
.main{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	font-size:20px;
}
#center{
	
}
#bottom{
	width:100%;
	height:50px;
}
#top2{
	width:100%;
}
#logo{
	width:25%;
	height:50px;
	background-color:pink;
	float:left;
}
#nav{
	float:right;
	font-size:30px;
	height:50px;
	
}
u1{
	padding: 0;
	margin: 0;
	list-style-type: none;
	line-height: 200%;
	display: inline-block;
}
u1 a
{
	text-decoration: none;
	display: block;
	color:#404040;
}
u1>li
{
	
	float: left;
	padding-right:20px;
}

u1 > li:hover > a
{
	color: #C0C0C0;
}
u1 > li:visited > a
{
	color: #404040;
}
.empty{
	width:100%;
	height:50px;
	clear:both;
}
#title{
	width:100%;
	height:50px;
	font-size:30px;
	background-color:gray;
	color:white;
}
#lmain{
	width:300px;
	float:left;
}
#cmain{
	width:300px;
	float:left;
}
#rmain{
	width:300px;
	float:left;
}
.empty2{
	min-width:50px;
	width:10%;
	height:200px;
	float:left;
}
.empty3{
	width:100%;
	height:8px;
}
#footer{
	text-align:center;
	background-color:#D3D3D3;
	height:200px;
}
.jpg{
	width:100%;
	height:250px;
	border: 1px solid black;
}
.main2{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	font-size:20px;
}